@font-face {
  font-family: 'header-text';
  src: url('./fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'normal-text';
  src: url('./fonts/Roboto-Regular.ttf');
}

:root{
  --accent-color: #1A8199;
  --shadow-color: rgb(90, 90, 90);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 2000px;
  min-width: 320px;
  min-height: 100vh;
  margin: auto;

  display: flex;
  flex-direction: column;
}

header {
  min-height: 400px;
  padding: 40px 50px;
  flex-shrink: 0;

  background: linear-gradient(-8deg, white 30%, var(--accent-color) 30%);
}

.header-wrapper {
  min-height: 300px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  box-shadow: 3px 3px 6px var(--shadow-color);
  border-radius: 5px;
}

.headshot, .footer-headshot {
  background-image: url('./img/headshot.JPG');
  background-position: center;
  background-size: cover;
}

.headshot {
  transform: scale(1.1);
  text-align: center;
  color: white;
  font-family: 'header-text';
  font-size: 32px;
  padding: 15px;

  box-shadow: 3px 3px 6px var(--shadow-color);
  
  border-radius: 5px;
}

.about {
  background-color: white;
  display: grid;
  grid-template-rows: 50px 1fr 40px;
  padding: 20px;
  border-radius: 5px;
}

.about div, .about h1{
  padding: 5px 15px;
}

h1 {
  font-family: 'header-text';
  font-size: 24px;
  font-weight: normal;
}

.about-text {
  font-family: 'normal-text';
  font-size: 16px;
  line-height: 1.5;
}

.about-links {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.about-links img, .footer-links img{
  height: 100%;
  width: auto;
}

.about-links img:hover, .card-header img:hover, .footer-links img:hover {
  transition: transform 200ms ease-out;
  transform: scale(1.1);
}

main {
  flex: 1;
  min-height: 200px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-wrapper {
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px 20px;
  justify-items: center;
}

.card {
  display: grid;
  grid-template-rows: 175px 150px;
  box-shadow: 3px 3px 6px var(--shadow-color);
  border-radius: 5px;
}

.card-screenshot, .card-header {
  font-family: 'header-text';
}

.card-screenshot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-size: 28px;
  text-align: center;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.card-info {
  display: grid;
  grid-template-rows: 1fr 3fr;
  row-gap: 10px;
  padding: 10px 20px;
  
}

.card-header {
  display: grid;
  grid-template-columns: 1fr 25px 25px;
  align-items: center;
  column-gap: 10px;
  font-size: 20px;
}

.card-description {
  font-family: 'normal-text';
  font-size: 14px;
}

.card:nth-child(1) .card-screenshot{
  background-color: #82A0D8;
}

.card:nth-child(2) .card-screenshot{
  background-color: #EDB7ED;
}

.card:nth-child(3) .card-screenshot{
  background-color: #EFB495;
}
.card:nth-child(4) .card-screenshot{
  background-color: #EBEF95;
}
.card:nth-child(5) .card-screenshot{
  background-color: #BEADFA;
}
.card:nth-child(6) .card-screenshot{
  background-color: #96B6C5;
}

.card:nth-child(7) .card-screenshot{
  background-color: #BEADFA;
}
.card:nth-child(8) .card-screenshot{
  background-color: #96B6C5;
}

footer {
  min-height: 400px;
  flex-shrink: 0;
  background-color: var(--accent-color);
  padding: 40px 50px;
  color: white;
  display: grid;

  grid-template-columns: 3fr 4fr;
  column-gap: 20px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'normal-text';
  font-size: 16px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-phone, .footer-email {
  height: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-phone img, .footer-email img {
  height: 100%;
  width: auto;
  filter: invert(91%) sepia(0%) saturate(7500%) hue-rotate(135deg) brightness(106%) contrast(108%);
}


.footer-links {
  height: 30px;
  display: flex;
  gap: 20px;
  justify-content: start;
}